.container_modal{
    background: #FFFFFF;
    padding: 8px;
    }
    .create-transaction-h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #000000;
    }
    .secured-transaction-p_tag{
     font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #737373;
    }
    .form-label-pin{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #404040;
    }
    .form-control-pin{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding: 20px 20px;
    margin: 8px 0;
    border: 1px solid #D4D4D4;
    border-radius: 8px; 
    }
    .btn-pin{
    padding: 15px 32px;
    background: #2F80ED;
    color: #FFFFFF;
    border-radius: 4px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 12px;
    }