.bg-color-50{
    background-color: var(--primary50);
}
.font-color-50{
    color : var(--primary50);
}
.h-100vh{
    height:100vh !important;
}
.w-100vh{
    width:100vh !important;
}
.form-label{
    justify-self: flex-start;
}
.c-padding{
    padding: 60px 25px 25px 25px !important;
}
.c-text-right{
    text-align: right!important;
}
.c-submit-button{
    width:100% !important;
    background-color: var(--primary600) !important;
    border:none !important;
    color: #fff !important;
}
.font-color-600{
    color :var(--primary600) !important;
}
.font-color-600 a{
    text-decoration: none;
}
.line-break{
    border-top:none;
    border-left:none;
    border-right:none;
    border-radius:0;
    display:flex !important;
    position:relative !important;
    justify-items: center;
    align-items: center;
}
.line-break div{
    background-color: #fff;
    position: absolute;
    left: 45%;
    bottom: -18px;
    padding:5px;
    color: var(--ligh-border-color);
}

.social-login:hover{
    background-color: var(--primary600);
    color:#fff;
    cursor: pointer;
}
button span{
    text-align: center !important;
    font-weight: 700 !important;
}
.banner{
    display: none;
}

.padding{
    padding:0 45px 0 45px;
}
.nav-item li{
    list-style: none;
}

.float-right{
    float: right !important;
}
@media (min-width: 768px) {
    .banner{
        display: block;
    }
}
.fas{
    color:red !important;
}
.page-title{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:absolute;
    left :50%;

}
  .activePage{
    color: var(--primary600);
  }

.page-title img {
    width: 6px;
}

form{
    background-color: #fff;
    padding:15px;
}

main{
    background-color: var(--primary50);
    height: 100vh !important;
    padding: 50px;
}

form button{
    width : 100% !important;
    background-color: var(--primary600) !important;

}

form label{
    font-weight: 500;
    color : var(--neutra-700);
}

.payment-info span {
    font-size:16px;
    font-weight: 400;
}

.list-group-item{
    border:none !important;
    margin-top :20px;
}

.payment-link{
    background-color: var(--primary50);
}

.button-margin{
    margin-top :35px !important;
}

form button {
    text-transform: capitalize !important;
    font-size: 20px !important;
}



